!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title El descanso deseado
    %link{rel:"stylesheet", href:"/offline/style.css"}
    %meta{name:"description", content:"Descansa tranquilo"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body
    %p#message Parece que no pudimos conectarnos a internet, no hay problema, aqui hay informacion que le sera util para poder contactarnos.
    .container
      %h1 Camas y Colchones LUGUE
      %p
        %strong Direccion
        Calle Carlos Lopez Aladana 130
      %p 
        %strong Horario 
        9am - 6pm
      %p
        %strong Telefonos
        Celular: 980707693 y Telefono Fijo: 4711092
      %p
        %strong Descripcion
        Nos dedicamos a la fabricacion y reparacion de camas y colchones, ademas de todo tipo de articulos de dormitorio
      #map
        %img{src:"/offline/map.png"}
        %p Este mapa ofrece referencias de la ubicacion de la tienda de camas y colchones Lugue

